@model IEnumerable<HospitalMVC.Models.Patient>

@{
	ViewBag.Title = "Patient Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient List</h2>

<table class="table" border="1">
	<tr>
		<td>
			@Html.DisplayNameFor(model => model.name)
		</td>
		<td>
			@Html.DisplayNameFor(model => model.doctorId)
		</td>
		<td>
			@Html.DisplayNameFor(model => model.telephone)
		</td>
		<td>
			@Html.DisplayNameFor(model => model.address)
		</td>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.doctorId)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.telephone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.address)
			</td>
			<td>
				@Html.ActionLink("Edit", "EditPatient", new { id = item.Id }) |
				@Html.ActionLink("Delete", "DeletePatient", new { id = item.Id })
			</td>
		</tr>
	}

</table>

<p>
	@Html.ActionLink("Back to home page", "AdminIndex")
</p>